.wrapper
{
	display: flex;
	align-items: flex-start;
	flex-flow: row wrap;
	justify-content: space-between;

	width: 100%;
	padding: 20px 25px;

}

.homepage
{
	display: inline-block;

	margin: 10px;
	padding: 15px;

	color: #000000;
	border: 1px solid black;
	background-color: #FFFFFF;
}

.homepage:hover
{
	color: #FFFFFF;
	border: 1px solid black;
	background-color: #000000;
}

form.edit-studio-title, form.new-news-wrapper, .change-color-theme, div.news-archive
{
	padding: 20px;

	border: 1px solid #000000;
}

.left-container, .right-container, .feedback
{
	flex-grow: 1;
	margin: 10px;
}

form, .feedback, .news-archive, .change-color-theme
{
	background-color: #FFFFFF;	
}
form.edit-studio-title
{
	width: 100%;
	margin-bottom: 30px;
}

form.edit-studio-title *
{
	display: block;
}

h1.edit-studio-title
{
	margin-bottom: 10px;
}

form.edit-studio-title span
{
	margin-bottom: 4px;
}

form.edit-studio-title input
{
	margin-bottom: 10px;
}

span.new-studio-title
{
	font-size: 20px;
	font-weight: bold;
}

input.edit-studio-title, input.current-studio-title
{
	font-size: 17px;

	width: 100%;
	padding: 7px 10px;
}

form.edit-studio-title span
{
	width: 100%;

	text-align: center;
}

input.edit-studio-title
{
	font-weight: bold;
}

form.edit-studio-title input, .set-color-theme-btn, input.input-title, textarea, .new-news-wrapper input[type="submit"]
{
	font-family: "Comfortaa", regular;
	font-size: 17px;

	display: block;

	width: 100%;
	margin: 10px 0;
	padding: 15px;

	cursor: pointer;

	color: #000000;
	border: 1px solid black;
	background-color: #FFFFFF;
}

form.edit-studio-title input[type="submit"], .set-color-theme-btn, .new-news-wrapper input[type="submit"]
{
	width: auto;
	margin: 0 auto;
	margin-top: 25px;
}

form.edit-studio-title input[type="submit"]:hover, .set-color-theme-btn:hover, .new-news-wrapper input[type="submit"]:hover
{
	color: #FFFFFF;
	border: 1px solid black;
	background-color: #000000;
}

textarea
{
	min-height: 150px;
	max-height: 350px;

	resize: vertical;
}

form.new-news-wrapper
{
	background-color: #FFFFFF;
}

img.close-news
{
	float: right;

	width: 20px;
}

.new-news-instuments
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
}

.new-news-instuments img, .new-news-instuments input
{
	height: 100%;
	min-height: 25px;
}

/*
input.input-title, div.new-news-instuments, textarea.input-main-text
{
	width: 100%;

	background-color: #CCCCCC;
}

input.input-title
{
	font-size: 15px;

	margin-bottom: 12px;
	padding: 12px 5px;

	border: 1px solid #000000;
}

div.new-news-instuments
{
	padding: 5px 7px;

	border: 1px solid #000000;
}
*/

div.new-news-instuments img.instuments-icons:last-child
{
	margin-right: unset;
}

img.instuments-icons
{
	width: 20px;
	margin-right: 10px;

	transition: all 0.4s;
}

img.instuments-icons:hover
{
	transition: all 0.4s;

	box-shadow: 0 0 10px 1px #000000;
}

/* 
textarea.input-main-text
{
	height: 375px;
	padding: 14px 7px;

	resize: vertical;

	border: 1px solid #000000;
	outline: none;
} 
*/

.change-color-theme
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: flex-start;

	margin-bottom: 30px;
}

img.color-theme-image
{
	width: 100px;
}

label.color-theme-image
{
	display: inline-block;

	transition: all 0.3s;
}

div.set-color-theme
{
	margin-top: 10px;
}

[type="radio"]:checked + label.color-theme-image
{
	transition: all 0.3s;

/* box-shadow: 0 0 10px rgba(58, 255, 192, 0.6); */

	box-shadow: 0 0 10px #000000;
}

/* button.set-color-theme-btn
{
	font: 15px bold;
	font-family: "Comfortaa", regular;

	display: block;

	width: 150px;
	margin-top: 10px;
	padding: 10px;

	cursor: pointer;
	transition: all 0.3s;

	color: white;
	border: none;
	border-radius: 35px;
	outline: none;
	background-color: #B94643;
}

button.set-color-theme-btn:hover
{
	transition: all 0.3s;
	transform: scale(1.02);

	box-shadow: 3px -2px 10px #000000;
} */

div.news-archive
{
	width: 100%;
}

div.arcive-header
{
	margin-bottom: 10px;

	border: 1px solid #000000;
}

div.all-wrapper
{
	
	width: 100%;
	max-height: 600px;
	display: grid;
	grid-gap: 1px;
	grid-template-columns: 1fr 1fr 1fr 50px;

}

div.all-wrapper > p, div.all-wrapper > a
{
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	min-width: min-content;
	height: 100%;
	min-height: 30px;
	padding: 5px 15px;
	background-color: #FFFFFF;
}

div.all-wrapper > a
{
	padding: 5px;
	min-width: 30px;
	min-height: 30px;
}
div.all-wrapper > a > img
{
	height: 100%;
	width: 100%;
	max-height: 30px;
}

div.all-wrapper > a:hover
{
	border: 1px solid #FFFFFF;
	filter: invert(1);
}
p.news-title, .pre-text, p.publish-date
{
	padding: 2px 10px;

	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
}

p.publish-date
{
	text-align: center;
}

p.news-title, p.pre-text
{
	

	text-overflow: ellipsis;
}

p.news-title
{
	width: 200px;
}

p.pre-text
{
	width: 350px;
}

p.publish-date
{
	width: 180px;
}

div.inner-news-archive, div.arcive-header
{
	display: flex;
	align-items: center;
}

div.inner-news-archive
{
	border: 1px solid #000000;
}

div.inner-news-archive a
{
	display: block;

	margin: 2px 5px;
}

div.inner-news-archive img.delete-news
{
	display: block;

	width: 20px;
}

/*feedback*/
div.feedback
{
	display: flex;
	flex-flow: column nowrap;

	width: 100%;
	height: 600px;
	padding: 20px;

	border: 1px solid #000000;
}

div.feedback-header
{
	display: flex;
	
	align-items: center;

	margin-bottom: 10px;
}


p.name-request, p.email-request, p.phone-number-request, p.date-request, p.pre-request, p.status-request
{
	padding: 2px 10px;

	border: 1px solid #000000;
}

p.empty-request
{
	padding: 2px 10px;
}

p.pre-request
{
	width: 25%;
	min-width: 200px;
}

p.name-request
{
	width: 20%;
	min-width: 175px;
}

p.empty-request
{
	width: 40px;
	padding-left: 1%;
}

p.phone-number-request, p.date-request, p.status-request, p.email-request
{
	width: 15%;
	min-width: min-content;
}

div.feedback
{
	
}

div.all-requests
{
	display: -ms-grid;
	display:     grid;

	min-height: 30px;

	-ms-grid-columns: 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 50px;
	grid-gap: 1px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 50px;
}

div.all-requests > p
{
	display: flex;
	align-items: center;
	justify-content: flex-start;

	width: 100%;
	min-width: min-content;
	height: 100%;
	min-height: 50px;
	padding: 5px 15px;

	background-color: #FFFFFF;
}

div.all-requests a > img
{
	width: 18px;
	height: 18px;
}

div.all-requests > a
{
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0px;
	padding: 2px 0px;

	border: 1px solid #000000;
	background-color: #FFFFFF;
}

div.all-requests > a:hover
{
	border: 1px solid #FFFFFF;

	filter: invert(1);
}

div.all-requests
{
	width: 100%;
	padding-bottom: 15px;

	border: 0px;
}

.wrapper h1
{
	margin: 10px 10px 25px 10px;
}

form.edit-studio-title input.current-studio-title
{
	cursor: no-drop;

	opacity: 0.7;
}

h1.new-news-title
{
	margin-top: 25px;
}

.feedback, .news-archive
{
	overflow: scroll;
}

@media screen and (max-width: 800px)
{
	.left-container, .right-container, .feedback
	{
		width: 100%;
		margin: 10px 0;
	}
}

@media screen and (max-width: 500px)
{
	.wrapper
	{
		padding: 5px;
	}
}