div.new-news-wrapper
{
	width: 900px;
	padding: 20px 27px;

	background-color: #FFFFFF;
}

img.close-news
{
	float: right;

	width: 20px;
}

input.input-title, div.new-news-instuments, textarea.input-main-text
{
	width: 100%;

	background-color: #CCCCCC;
}

input.input-title
{
	font-size: 15px;

	margin-bottom: 12px;
	padding: 12px 5px;

	border: 1px solid #000000;
}

div.new-news-instuments
{
	padding: 5px 7px;

	border: 1px solid #000000;
}

h1.new-news-title
{
	font-size: 18px;

	margin-bottom: 5px;

	text-align: left;
}

div.new-news-instuments img.instuments-icons:last-child
{
	margin-right: unset;
}

img.instuments-icons
{
	width: 20px;
	margin-right: 10px;

	transition: all 0.4s;
}

img.instuments-icons:hover
{
	transition: all 0.4s;

	box-shadow: 0 0 10px 1px #000000;
}

textarea.input-main-text
{
	height: 375px;
	padding: 14px 7px;

	border: 1px solid #000000;
	outline: none;
}
