body
{
	background-color: #131D22;
}

div.wrapper
{
	display: flex;
	align-items: center;
	flex-flow: column;
	justify-content: center;

	width: 100%;
	min-height: 100vh;
	padding: 50px 25px;
}

img.logo
{
	width: 15%;
	min-width: 50px;
	max-width: 100px;
	margin-bottom: 25px;
}

form.auth
{
	display: flex;
	flex-flow: column;

	min-width: 400px;
	padding: 60px 70px;

	border: 1px solid grey;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

span
{
	font-size: 14px;

	margin-bottom: 5px;

	text-align: center;
	text-transform: uppercase;
}

input.user-login
{
	margin-bottom: 20px;
}

input.user-login, input.user-password
{
	font-size: 19px;

	width: 100%;
	min-height: 40px;
	margin-top: 8px;
	padding: 7px 20px;
	padding-top: 10px;

	color: rgba(19,29,34, 0.6);
	border: none;
	border-radius: 15px;
	background-color: rgba(0,112,153, 0.1);
}

input.user-login:hover, input.user-password:hover
{
	color: rgba(19,29,34, 1);
	background-color: rgba(0,112,153, 0.3);
}
div.login
{
	display: flex;
	align-items: center;
	flex-direction: row;

/* justify-content: space-between; */
	justify-content: flex-end;

	margin-top: 20px;
}

input.login-btn
{
	font-size: 14px;

	margin: 0 auto;
	margin-top: 20px;
	padding: 10px 25px;
	padding-top: 13px;

	text-transform: uppercase;

	color: #FFFFFF;
	border: 3px solid #007099;
	border-radius: 5px;
	background-color: #007099;
}

input.login-btn:hover
{
	color: #007099;
	border: 3px solid #007099;
	background-color: #FFFFFF;
}

a.logout-btn
{
	margin-top: 50px;

	text-transform: uppercase;

	opacity: 0.6;
	color: #FFFFFF;
}

a.logout-btn:hover
{
	opacity: 1;
}

@media screen and (max-width: 600px)
{
	div.container, div.wrapper
	{
		padding: 50px 0px;
	}
	form.auth
	{
		width: 100%;
		min-width: auto;
		padding: 50px 10%;
	}
}
