/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", regular;
} */

section#contact
{
	display: flex;
	flex-flow: column wrap;

	background-color: #131D22;
}

section#contact div.container
{
	width: 90%;
}

section#contact .section-title
{
	color: white;
}

.box-form
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	padding-top: 15px;
}

.form-submit
{
	display: flex;
	flex-flow: column wrap;
	flex-grow: 1;

	margin-right: 15px;
}

.fio
{
	font-size: 16px;

	height: 55px;
	padding: 15px 25px;

	cursor: text;

	border: none;
	border-radius: 20px;
	outline: none;
}

.form-submit :first-child
{
	margin-bottom: 10px;
}

.text-enter
{
	font-family: "Comfortaa", regular;
	font-size: 16px;

	flex-grow: 2;

	width: 250px;
	min-height: 100px;
	max-height: 300px;
	padding: 15px 30px;

	resize: vertical;
	cursor: text;

	border: none;
	border-radius: 20px;
	outline: none;
}

.submit
{
	font: 23px bold;
	font-family: "Comfortaa", regular;

	display: block;

	width: 300px;
	height: 60px;
	margin: 40px auto;
	margin-top: 90px;
	margin-bottom: 90px;
	padding: 8px;

	cursor: pointer;
	transform: scale(1);

	color: white;
	border: none;
	border-radius: 35px;
	outline: none;
	background-color: #B94643;
}

.submit:hover
{
	transform: scale(1.05);

	color: #B94643;
	background-color: white;
}

.left-box
{
	padding: 7px;

	color: #000000;;
}

.box-maps
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	width: 100%;
	padding-bottom: 80px;
}

.lef-bar
{
	display: flex;
	flex-flow: column;
}

.arrow-up
{
	position: fixed;
	right: 40px;
	bottom: 40px;

	visibility: hidden;

	width: 30px;
	height: 30px;

	transform: rotate(180deg);

	opacity: 0.3;
	background-image: url("../img/icons/arrow_down1.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.arrow-up:hover
{
	opacity: 1;
}

.arrowDiv
{
	position: relative;
}

.license
{
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;

	text-align: center;

	color: #FFFFFF;
	background-color: #131D22;
}

.forma
{
	width: 100%;
}

.map
{
	padding-top: 90px;
}

#map-inner
{
	flex-grow: 2;

	margin-right: 25px;
	margin-bottom: 25px;
}

.lef-bar
{
	flex-grow: 1;
}

#map-inner iframe
{
	width: 100%;

	border: 0;
	outline: 0;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
