/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", regular;
} */

footer {
    background-color: #131d22;
    display: flex;
    flex-flow: column wrap;
}

footer div.container {
    width: 90%;
}

footer .section-title{
    color: white;
}

.box-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 15px;
}

.form-submit {
	flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    margin-right: 15px;

}

.fio {
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1vh;
    font-size: 1vw;
    padding: 15px;
    cursor: text;
	height: 55px;
}

.form-submit :first-child{
    margin-bottom: 10px;
}

.text-enter {
	resize: vertical;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 250px;
    font-size: 1vh;
    font-size: 1vw;
    cursor: text;
    font-family: "Comfortaa", regular;
    padding: 10px;
	flex-grow: 2;
}

.submit {
    display: block;
    margin: 40px auto;
    padding: 8px;
    margin-bottom: 90px;
    border-radius: 35px;
    border:none;
    background-color: #B94643;
    color: white;
    font: 23px bold;
    width: 300px;
    outline: none;
	height: 60px;

}

.left-box {
    color:white;
    padding: 7px;
}

.box-maps {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    padding-bottom:80px;     
}

.lef-bar {
    display: flex;
    flex-flow: column;
}

.arrow-up {
    position: absolute;
    bottom: 20px;
    right: 0px;
    margin-right: 90px;
    background-image: url("../img/icons/arrow_down1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
}

.arrowDiv {
    position: relative;
}

.license {
    text-align: center;
    color:gray;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: aliceblue;

}

.forma {
	width: 100%;
}

.map
{
	padding-top: 90px;
}
