@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,500,700|Yanone+Kaffeesatz:400,500,700&display=swap&subset=cyrillic");

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* font-family: 'Yanone Kaffeesatz', sans-serif; */
}

html
{
	height: 100%;
}

img
{
	object-fit: contain;
}

body, input, a
{
	font-family: "Comfortaa", regular;
}

body
{
	width: 100%;
	min-width: 320px;
	min-height: 100%;
}

a
{
	display: block;

	text-decoration: none;

	color: #FFFFFF;
}

a, input
{
	/* cursor: pointer; */
	transition: 0.3s all;
}

h1
{
	text-align: center;
}

div.container
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;

	width: 100%;
	min-width: 320px;
	max-width: 1440px;
	min-height: 70vh;
	margin: 0 auto;
	padding: 0 50px;
}

div.portfolio-item, div.hover-block, span.portfolio-item-description, div.member, div.portfolio-item:hover, div.portfolio-item:hover div.hover-block, div.portfolio-item:hover span.portfolio-item-description, div.member:hover div.hover-block, div.member:hover
{
	/* cursor: pointer; */
	cursor: default;
	transition: all 0.2s;
}

h1.section-title
{
	text-transform: uppercase;
}
