@media screen and (max-width: 1300px)
{
	nav > a
	{
		font-size: 1vw;
	}
}

@media screen and (max-width: 900px)
{
	.prices
	{
		flex-flow: column wrap;
	}
	.price, .price_center
	{
		width: 98%;
		height: 100%;
		min-height: 100%;
	}
	.price_center
	{
		width: 100%;
	}
	.pr, .name
	{
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.price a
	{
		margin: 35px 0;
	}
	.box-form
	{
		flex-flow: column nowrap;
	}
	.box-form input, .box-form textarea
	{
		text-align: center;
	}
	.text-enter
	{
		width: 100%;
	}
	.form-submit
	{
		margin-right: 0;
	}
	.text-enter
	{
		margin-top: 15px;
	}
}
@media screen and (min-width: 875px)
{
	.navMobile
	{
		display: none !important;
	}
	nav
	{
		display: flex !important;
	}
	.closeNavMobile
	{
		display: none !important;
	}
}

@media screen and (max-width: 875px)
{
	.navMobile
	{
		display: flex;
	}
	nav
	{
		display: none;
	}
	nav
	{
		position: fixed;

		overflow: hidden;
		overflow-y: scroll;
		align-items: center;
		flex-flow: column nowrap;
		justify-content: flex-start;

		width: 100%;
		height: 100%;

		background-color: rgba(19, 29, 34, 0.9);
	}
	nav > a
	{
		font-size: 5vw;

		width: 100%;
		margin: 15px 0;

		text-align: center;

		opacity: 1;
	}
	.hide-unhide, .nav-title
	{
		display: block;
	}
	span.web-studio
	{
		font-size: 40px;
	}
	span.studio-name
	{
		font-size: 80px;

		transition: all 0.3s;
	}
	img.next-page-arrow
	{
		width: 70px;
	}
	#map-inner, #map-inner
	{
		width: 100%;
		margin-right: 0;
	}
	#map
	{
		text-align: center;
	}
}

@media screen and (max-width: 700px)
{
	.blok_novosti div.picture, div.portfolio-wrapper
	{
		grid-template-columns: 1fr;
	}
	div.container
	{
		padding: 0 25px;
	}
	.comment
	{
		margin: 25px;
	}
	.swiper-button-next, .swiper-button-prev
	{
		display: none;
	}
	.license
	{
		font-size: 4vw;
	}
}

@media screen and (max-width: 600px)
{
	span.web-studio
	{
		font-size: 5vw;
	}
	span.studio-name
	{
		font-size: 10vw;

		transition: all 0.3s;
	}
	img.studio-logo
	{
		width: 40px;
	}
	img.next-page-arrow
	{
		width: 40px;
	}
}

@media screen and (max-width: 500px)
{
	div.container
	{
		padding: 0 15px;
	}
	.picture p
	{
		font-size: 10vw;
	}
	h1.section-title
	{
		font-size: 9vw;
	}
}
